.rect{
  height: 72px;
  width: 1450px;
  background-color: blueviolet;
  margin: -10px;
}
body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


h1{
  font-size: 32px;
  color: white;
  padding-left: 10px;
  position: relative;
  top: 18px;
}
.nav1{
  font-size: 20px;
  position: relative;
  left: 400px;
  bottom: 35px;
  color: white;
}
.nav2{
  font-size: 20px;
  position: relative;
  left: 470px;
  bottom: 78px;
  color: white;
}
.navbar{
  background-color: blue;
}
navbar-brand{
  background-color: white;
}